h1{
    color: blueviolet;
    border: solid 1px red; 
    padding: 20px 30px;
    background-color: black;
    margin: 60px;
}
.entrar{
    border: solid 1px green;
    padding: 20px;
    background-color: greenyellow;
}
#button{
   border:solid 1px red; 
   background-color: blueviolet;
   margin: 20px;
   width: 200px;

   
   
}
/* at-rules @
-@import
-@media
-@font-face
-@keyframes
*/
@import url("http://127.0.0.1:5500/css/style.css."); /* maneira para pegar um css externo e interno <link rel="icon" href="../css/image/icons8-livre-de-spyware-16.png">*/

 @media (min-width: 500px ){}
 /*estilos em dispositivos com menos de 500px*/

 @font-face{}
 /* configuração da font */

 @keyframes nameOfAnimation {}
/* estilo das animaçoes */

